<!DOCTYPE html>
<html lang="ko">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="title" content="">
	<meta name="description" content="">
	<meta name="keywords" content="">

	<meta name="viewport" content="width=dice-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

	<style>
		div {position:relative; padding:10px 20px 20px; z-index:2;}
		h4 {margin:20px 0; font-size:17px; line-height:21px; font-weight:bold; }
		p {margin-top:10px;}
		ul li {margin-top:10px;}
		ul li ul {margin-left:18px;}
		body:after{content:none;}
		a{color:blue;}

		table {width: 100%; border-collapse: collapse;}
		th {background: #333;color: white;font-weight: bold;text-align:center;}
		td, th {padding: 10px;border: 1px solid #ccc;text-align: left;vertical-align:middle;}
		tr td:last-child{border-bottom: 1px solid #ccc;}
	</style>
</head>
<body>
<div>
<h4> </h4>
<table>
	<colgroup>
		<col style="width:5%">
		<col style="width:30%">
		<col style="width:12%">
		<col style="width:12%">
		<col style="width:*">
	</colgroup>
	<thead>
		<tr>
			<th>no</th>
			<th>depth</th>
			<th></th>
			<th>경로</th>
			<th>완료</th>
			<th>비고</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="5">공통</td>
		</tr>
		<tr>
			<td></td>
			<td>팝업</td>
			<td></td>
			<td><a href="html/sub/A_20_P1.html" target="_blank">A_20_P1.html</a></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>header</td>
			<td></td>
			<td><a href="" target="_blank"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td colspan="6">로그인</td>
		</tr>
		<tr>
			<td></td>
			<td>간편로그인 설정 안된 경우</td>
			<td></td>
			<td><a href="html/A_20_10.html" target="_blank"></a>A_20_10.html</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>간편로그인 설정 되어 있는 경우</td>
			<td></td>
			<td><a href="html/A_20_11.html" target="_blank"></a>A_20_11.html</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>이용권한 안내</td>
			<td></td>
			<td><a href="html/A_20_12.html" target="_blank"></a>A_20_12.html</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>비밀번호 변경</td>
			<td></td>
			<td><a href="html/A_20_14.html" target="_blank"></a>A_20_14.html</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td colspan="5">메인</td>
		</tr>
		<tr>
			<td></td>
			<td>TV, 인터넷, 홈렌탈</td>
			<td></td>
			<td><a href="html/main/A_30_10.html" target="_blank">A_30_10.html</a></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>최신 공지사항 상세 안내</td>
			<td></td>
			<td><a href="html/A_30_P1.html" target="_blank"></a>A_30_P1.html</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td colspan="6">가입신청서 작성</td>
		</tr>
		<tr>
			<td></td>
			<td>상품정보</td>
			<td></td>
			<td><a href="html/sub/A_60_10.html" target="_blank">A_60_10.html</a></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>고객정보</td>
			<td>가입고객정보</td>
			<td><a href="html/sub/A_60_11.html" target="_blank"></a>A_60_11.html</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td>설치정보 </td>
			<td><a href="html/sub/A_60_12.html" target="_blank"></a>A_60_12.html</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td>납부정보 </td>
			<td><a href="html/sub/A_60_13.html" target="_blank"></a>A_60_13.html</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>계약확인</td>
			<td> 추가 정보 작성 </td>
			<td><a href="html/sub/A_60_15.html" target="_blank"></a>A_60_15.html</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td>계약확인 </td>
			<td><a href="html/sub/A_60_17.html" target="_blank"></a>A_60_17.html</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td>확인사항/약관/서명 </td>
			<td><a href="html/sub/A_60_14.html" target="_blank"></a>A_60_14.html</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td>가입신청서 처리 </td>
			<td><a href="html/sub/A_60_16.html" target="_blank"></a>A_60_16.html</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td>계약확인 </td>
			<td><a href="html/sub/A_60_17.html" target="_blank"></a>A_60_17.html</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>공지사항 </td>
			<td>목록 </td>
			<td><a href="html/sub/A_40_10.html" target="_blank"></a>A_40_10.html</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>공지사항 </td>
			<td>상세 </td>
			<td><a href="html/sub/A_40_10.html" target="_blank"></a>A_40_11.html</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>가입신청서 조회 </td>
			<td> </td>
			<td><a href="html/A_50_10.html" target="_blank">A_50_10.html</a></td>
			<td></td>
			<td></td>
		</tr>


	</tbody>
</table>
</div>
</body>
</html>
