<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/cssTest.css">
</head>

<body>
    <div id="searchCSS">
        <div class="title">Moogle</div>
        <form action="">
            <div>
                <input type="text" class="inputTxt" placeholder="검색어를 입력하세요.">
                <input type="submit" class="inputSub" value="검색">
            </div>
        </form>
    </div>
</body>

</html>