<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mogle</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/mogle.css">
</head>
<body>
    <h1>
        <span>M</span><span>o</span><span>o</span><span>g</span><span>l</span><span>e</span>
    </h1>
    <form action="https://www.google.com/search" method="GET">
        <div class="search-container align-center">
            <input type="checkbox" id="search-trigger">
            <label for="search-trigger">
                <div class="search-toggle"></div>
            </label>
            <label class="search-field">
                <input type="text" name="q" placeholder="Search for something...">
                <div class="corners"></div>
            </label>
        </div>
    </form>
</body>
</html>