{% extends 'layout.html' %}
{% block content %}

<!-- movie -->
<section class="content-section" id="portfolio">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">MOVIES</h3>
            <h2 class="mb-5">MOVIE LIST</h2>
        </div>
        <div class="row gx-0">
            {% for item in list %}
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">{{item.title}} [{{item.rating}}]</div>
                            <p class="mb-0">{{item.synopsis}}</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="{{item.medium_cover_image}}" alt="{{item.title}}" />
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
