<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>kt skylife 스마트청약 시스템 구축</title>
	<meta name="author" content="" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<!--
	<link rel="shortcut icon" href="../../images/favicon.ico">
	<link rel="icon" type="image/png" href="../../images/favicon_192.png" sizes="192x192">
	<link rel="shortcut icon" href="data:image/x-icon" type="image/x-icon">
	-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<script type="text/javascript" src="../../js/common/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../../js/common/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../js/common/datepicker.js"></script>
	<script type="text/javascript" src="../../js/common/jquery.bpopup.min.js"></script>
	<script type="text/javascript" src="../../js/common/swiper.jquery.min.js"></script>
	<script type="text/javascript" src="../../js/common/ui.js"></script>

	<link rel="stylesheet" type="text/css" href="../../js/common/jquery-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="../../css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../css/contant.css" />
</head>

<body class="main">
<div class="skipNavi">
	<a href="#ct">본문 바로가기</a>
</div>
<div class="wrap">
	<header class="header">
		<div class="tit">
			<span class="menuBtn">
				<span class="hide">메뉴버튼</span>
				<p class="menu-icon">
					<span></span>
					<span></span>
					<span></span>
				</p>
			</span>
			<h1>가입신청서</h1>
		</div>
	</header>

	<navi class="navi-wp">
		<div class="menu">
			<h2>skylife</h2>
			<ul>
				<li><a href="">메뉴1</a></li>
				<li><a href="">메뉴2</a></li>
				<li><a href="">메뉴3</a></li>
				<li><a href="">메뉴4</a></li>
				<li><a href="">메뉴5</a></li>
				<li><a href="">메뉴6</a></li>
			</ul>
		</div>
	</navi>

	<div id="ct" class="cont">
		<div class="main-ct">
			<ul class="gnb tabs">
				<li rel="tab-tv" class="active"><span>TV</span></li>
				<li rel="tab-net"><span>인터넷</span></li>
				<li rel="tab-home"><span>홈 렌탈</span></li>
			</ul>
			<div class="tabCt">
				<div id="tab-tv" class="tabUnit" style="display:block;">
					<h2 class="slogan">스마트한 TV생활의 시작, <br>skylife 다양한 상품과 함께 시작하세요.</h2>
					<div class="mct tv">
						<div class="mainPrd">
							<div class="mainPrdItem">
								<ul class="colum">
									<li class="img"><span class="icn">sky A/AI</span></li>
									<li>
										<h3 class="tit">sky A/AI</h3>
										<p class="txt">스마트한 TV생활, Google Home Mini로 Plus 작지만 놀라운 인공지능 TV</p>
									</li>
								</ul>
								<div class="btn-wp">
									<ul class="colum">
										<li><a href="" class="btn1 red"><span>신청하기</span></a></li>
										<li><span class="btn1 mainPrdDetailBtn">상세 보기</span></li>
									</ul>
								</div>
							</div>
							<div class="mainPrdItemCt">
								<h3>sky AI 12.1</h3>
								<p></p>
								<ul class="">
									<li></li>
								</ul>
								<p class="import">3년 dirwjd dnjf 12,100원/ 5년 약정 월11,000원</p>
							</div>
						</div>
						<div class="mainPrd">
							<div class="mainPrdItem">
								<ul class="colum">
									<li class="img"><span class="icn">UHD</span></li>
									<li>
										<h3 class="tit">UHD</h3>
										<p class="txt">스카이라이프 TV 생활의 진화, UHD TV</p>
									</li>
								</ul>
								<div class="btn-wp">
									<ul class="colum">
										<li><a href="" class="btn1 red"><span>신청하기</span></a></li>
										<li><span class="btn1 mainPrdDetailBtn">상세 보기</span></li>
									</ul>
								</div>
							</div>
							<div class="mainPrdItemCt">
								<h3>HD</h3>
								<p></p>
								<ul class="">
									<li></li>
								</ul>
								<p class="import">3년 dirwjd dnjf 12,100원/ 5년 약정 월11,000원</p>
							</div>
						</div>
						<div class="mainPrd">
							<div class="mainPrdItem">
								<ul class="colum">
									<li class="img"><span class="icn">UHD</span></li>
									<li>
										<h3 class="tit">HD</h3>
										<p class="txt">다채널 고화질 HD TV</p>
									</li>
								</ul>
								<div class="btn-wp">
									<ul class="colum">
										<li><a href="" class="btn1 red"><span>신청하기</span></a></li>
										<li><span class="btn1 mainPrdDetailBtn">상세 보기</span></li>
									</ul>
								</div>
							</div>
							<div class="mainPrdItemCt">
								<h3>HD</h3>
								<p></p>
								<ul class="">
									<li></li>
								</ul>
								<p class="import">3년 dirwjd dnjf 12,100원/ 5년 약정 월11,000원</p>
							</div>
						</div>
						<div class="mainPrd">
							<div class="mainPrdItem">
								<ul class="colum">
									<li class="img"><span class="icn">SLT/이동체</span></li>
									<li>
										<h3 class="tit">SLT/이동체</h3>
										<p class="txt">차 안의 완벽한 TV, 위성방송과 LTE 기술이 결합된 차세대 이동형 방송 서비스</p>
									</li>
								</ul>
								<div class="btn-wp">
									<ul class="colum">
										<li><a href="" class="btn1 red"><span>신청하기</span></a></li>
										<li><span class="btn1 mainPrdDetailBtn">상세 보기</span></li>
									</ul>
								</div>
							</div>
							<div class="mainPrdItemCt">
								<h3>HD</h3>
								<p></p>
								<ul class="">
									<li></li>
								</ul>
								<p class="import">3년 dirwjd dnjf 12,100원/ 5년 약정 월11,000원</p>
							</div>
						</div>
					</div>
				</div>
				<div id="tab-net" class="tabUnit">
					<h2 class="slogan">전국 어디서나 합리적인 가격으로 10배 빠른 kt 인터넷을 이용해보세요!</h2>
					<div class="mct net">
					</div>
				</div>
				<div id="tab-home" class="tabUnit">
					<h2 class="slogan">가격은 내리고 실속은 꽉!착한 가격에 Premium 가전을!</h2>
					<div class="mct home">

					</div>
				</div>
			</div>
		</div>

		<footer class="copyright">
			<ul class="colum3 fmenu">
				<li><a href="http://www.ktskylife.co.kr" target="_blank">회사소개</a></li>
				<li><a href="https://www.skylife.co.kr/policy/terms/webStipulation.do" target="_blank">이용약관</a></li>
				<li><a href="https://shop.skylife.co.kr/m/privacy.do" target="_blank">개인정보처리방침</a></li>
			</ul>
			<ul class="copy-info">
				<li>
					<strong>고객센터</strong><span>1588-3002, 080-001-3002</span>

				</li>
				<li>
					<strong>방문 및 우편</strong><span>02-2003-3000</span>
				</li>
				<li>
					<strong>이메일</strong><span>helpdesk@skylife.co.kr</span>

				</li>
				<li>
					<strong>말로거는 고객센터</strong><span>1641 누르고스  &lt; 카이라이프 &gt;라고 말하세요.</span>
				</li>
				<li>
					<address>주식회사 케이티스카이라이프<p>서울시 마포구 매봉산로 75 DDMC빌딩 8, 9층</p><address>
				</li>
				<li>
					<strong>대표이사</strong><span>강국현</span>

				</li>
				<li>
					<strong>사업자등록번호</strong><span>117-81-31120</span>

				</li>
				<li>
					<strong>통신판매번호</strong><span>2013-서울마포-1528</span>
				<li>
			<ul>
		</footer>
	</div>

</div>
<script type="text/javascript">

$(function(){
	$(".mainPrd").each(function(){
		var mainPrd = $(this);
		mainPrd.find(".mainPrdDetailBtn").click(function(){
			var prdBtn = $(this);
			mainPrd.find(".mainPrdItemCt").toggle();
			prdBtn.text(prdBtn.text() == '상세보기 닫기' ? '상세보기' : '상세보기 닫기');
		});
	});
});
</script>



</body>
</html>